/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.beside {
    display: inline-block;
    vertical-align: middle;
    margin-right: .8rem;
}
.big {
    font-size: 1.2rem;
}
.btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    margin: 0 auto;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}
.btn-help {
    background-color: lightgrey;
    color: black;
    padding: 5px 10px;
}
